tr.row_selected td{background-color:lightgray !important;}
       .btn-primary,#add,#logout,#import,#close,#close2{
        background:#A24D4D;color:white;border:none
      }
      .btn-primary:hover,#add:hover,#logout:hover,#import:hover,#close:hover,#close2:hover{
        background:#7e0308
      }
      .pace {
      -webkit-pointer-events: none;
      pointer-events: none;

      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
   }

    .pace-inactive {
      display: none;
    }
    .pace .pace-progress {
      background: #b05a21;
      position: fixed;
      z-index: 2000;
      top: 0;
      right: 100%;
      width: 100%;
      height: 4px;
    }

@media (max-width:767px)
{
  #title{
    font-size: 20px;
  }
  #logo{
    width:15%;
  }

}