/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #CE6666;
    border-color: #CE6666;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #CE6666;
    border-color: #CE6666;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #CE6666;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.frontside {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #CE6666 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #CE6666 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}