.btn-primary,#logout{
    background:#A24D4D;color:white;border:none
  }
  .btn-primary:hover,#logout:hover{
    background:#7e0308
  }
  .pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #b05a21;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
.carousel-indicators {
    filter: invert(100%);
}

.project-tab #tabs h6.section-title{
  color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 16px;
  font-weight: bold;
}
.project-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  font-size: 16px;
  font-weight: 600;
}
.project-tab .nav-link:hover {
  border: none;
}
.project-tab thead{
  background: #f3f3f3;
  color: #333;
}
.project-tab a{
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

@media (max-width:767px)
{
  #title{
    font-size: 20px;
  }
  #logo{
    width:15%;
  }

}
