.btn-primary,#logout,#privacy{
    background:#A24D4D;color:white;border:none
  }
  .btn-primary:hover,#logout:hover,#privacy:hover{
    background:#7e0308
  }
.pace {
-webkit-pointer-events: none;
pointer-events: none;

-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

.pace-inactive {
display: none;
}

.pace .pace-progress {
background: #b05a21;
position: fixed;
z-index: 2000;
top: 0;
right: 100%;
width: 100%;
height: 4px;
}

#priv{
  background: rgb(138,53,53);
  background: linear-gradient(90deg, rgba(138,53,53,1) 0%, rgba(196,95,95,1) 35%, rgba(138,53,53,1) 100%);
}

@media (max-width:767px)
{
  #title{
    font-size: 20px;
  }
  #logo{
    width:15%;
  }

}