.time {
    color: #fff;
    text-align: center;
    }
    .hms {
        font-size: 28pt;
        font-weight: 200;
    }
    .ampm {
        font-size: 12pt;
    }
    .date {
        font-size: 10pt;
    }